    body {
      font-family: Arial, sans-serif;
      background-image: url('Fundo_Conclima_Plataforma.jpg');
      background-size: cover;
      }

    .menu-topo {
       width: 100%;
       height: 20vh;
       top: 0;
       display: fixed;
       background: #004c45;
       }

    .titulo-menu {
      color: #ffffff;
      font-weight: bold;
      }

    .menu-topo li a {
      color: white;
      text-decoration: none;
      }

    .fundo {
      width: 100%;
      height: 100%;
      background-size: cover;
      }

    .container-cards {
      background: white;
      position: fixed;
      grid-template-columns: 200px;
      padding: 8px 12px;
      border-radius: 6px;
      flex-direction: column; /* ou row, se quiser lado a lado */
      gap: 10px;
      z-index: 1000;  /* garante que fique acima de outros elementos */
      }  
    
    .tema-card {
      width: 150px;
      height: 150px;
      border-radius: 12px;
      box-shadow: 0 3px 10px rgba(0,0,0,0.08);
      cursor: pointer;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      margin: auto;
      align-items: center;
      text-align: center;
      }

    .tema-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 14px rgba(0,0,0,0.1);
      background-color: #ebfffa;
    }

    .tema-card svg {
      color: #005744;
      align-items: center;
      text-align: center;
      }

    .tema-card span {
      font-size: 26px;
      color: #4fb24c;
      align-items: center;
      text-align: center;
    }

    .tema-card::after {
      content: attr(data-tooltip);
      position: absolute;
      bottom: -60px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #005d47;
      color: white;
      padding: 8px 12px;
      border-radius: 6px;
      font-size: 14px;
      width: 220px;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;
      z-index: 10;
    }

    .tema-card:hover::after {
      opacity: 1;
    }
    
    .filtros {
      position: fixed;
      top: 30%;
      right: 50%; /* distância da borda direita, ajustável */
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    #palavra {
      margin: 0;
      display: none;
      padding: 20px;
      border-radius: 8px;
      justify-content: center;
      background: none;
      }

    .voltar {
      display: none;
      text-align: center;
      margin: 20px;
    }

    .voltar button {
      background-color: #005d47;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      font-size: 14px;
      cursor: pointer;
    }

    .resultados {
      display: none;
      max-width: 1000px;
      margin: 20px auto;
      animation: fadeIn 0.5s ease;
    }

    .card {
      background: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.05);
      margin-bottom: 20px;
      align-items: center;
    }

    .card h3 {
      color: #005d47;
      font-size: 18px;
    }

    .card a {
      color: #ffb700;
      text-decoration: none;
      font-weight: bold;
      
    }

    .card a:hover {
      text-decoration: underline;
    }

    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(10px); }
      to { opacity: 1; transform: translateY(0); }
    }
